# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.env/

# Database
database/*.db
database/*.sqlite3

# AI generated data
data_files/dataset/
data_files/intruders/
data_files/embeddings/*.npy

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
