# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.venv/
mp_env/
.env/

# Python tooling caches
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Database
database/*.db
database/*.sqlite3

# AI generated data
data_files/dataset/
data_files/intruders/
data_files/embeddings/*.npy
data_files/models

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

face-antispoof-onnx/