absl-py
attrs
blinker
cffi
click
colorama
contourpy
cycler
Flask
flatbuffers
fonttools
itsdangerous
jax
jaxlib
Jinja2
joblib
kiwisolver
MarkupSafe
matplotlib
mediapipe
ml_dtypes
numpy
opencv-contrib-python
opencv-python
opt_einsum
packaging
pandas
pillow
protobuf
pycparser
pyparsing
python-dateutil
pytz
scikit-learn
scipy
sentencepiece
six
sounddevice
threadpoolctl
tzdata
Werkzeug